body{
    margin: 0;
    font-family: sans-serif;
}

.menu{
    background-color: rgb(73, 72, 72);
    padding: 15px;
    position: fixed;
    top: 0;
    display:none;
}
.one i{
    color: white;
}
.clr{
    color: white;
    padding-left: 30px;
}
.menu-main{
    background-color: rgb(73, 72, 72);
    padding: 15px;
}
.one-1 i{
    color: white;
}
.clr-main{
    color: white;
    padding-left: 30px;
}
.text{
    color: rgb(44, 31, 31);
}