
body{
    margin: 0;
}
.blog1{
    font-family: 'Big Shoulders Stencil Display', cursive
}
.blog2{
    font-family: 'Stint Ultra Condensed', cursive;
}
.blog3{
    font-family: 'Anton', sans-serif;
}