<style>    body{
        margin: 0;
    }
    a{
        text-decoration: none;
    }
    h1{
        background-color: black;
        color: yellow;
        text-align: center;
    }
    div{
        text-align: center;
    }


</style>