body{
    margin: 0;
    font-family: sans-serif;
}
.light-box{
    height: 400px;
    width: 400px;
    background-color: goldenrod;
    border-radius: 25px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 150px;
     display: none;
}
.box-txt{
    text-align: center;
    color: white;
    margin-top: 150px;
}
.light-box button{
    margin-right: 5px;
    background-color: black;
    color:white;
    padding: 0 30px;
    border-radius: 25px;
}
.light-box button:hover{
    background-color:rgb(13, 92, 81);
    color: red;
}
.menu-main{
    background-color: rgb(73, 72, 72);
    padding: 15px;
}
.one-1 i{
    color: white;
}
.clr-main{
    color: white;
    padding-left: 30px;
}
.text{
    color: rgb(44, 31, 31);
}
.owl-carousel img{
 height: 500px;
}
 .owl-nav{
    font-size: 40px;
}
.slide{
    height: 500opx;
    overflow: hidden;
}
.mrr{
    display:inline;
    margin-left: 580px;
    color: white; 
    padding: 30px;
    border-radius: 25px;
}